{:source-paths ["ui" "modules" "test" "fixtures" "connectors"]
 :dependencies [[com.pitch/uix.core "1.4.9"]
                [org.clojure/test.check "1.1.1"]]
 :builds
 {:ui {:target :esm
       :output-dir "generated/ui"
       :js-options {:js-provider :import}
       :modules {:main {:exports {App royal.ui.core/app
                                 configureMapLoader royal.ui.parcel-map/configure-loader!}}}}
  :domain {:target :esm
           :output-dir "generated/domain"
           :modules {:main {:exports {initialState royal.domain/initial-state-js
                                    execute royal.domain/execute-js
                                    query royal.domain/query-js
                                    aiPolicy royal.ai-policy/invoke-js
                                    parcelFromKgeop royal.parcels/from-kgeop-js}}}}
  :test {:target :node-test
         :output-to "target/tests.cjs"
         :ns-regexp "-test$"
         :autorun true}}}
